h2 {
    margin-left: 10px;
}

.post_list > li {
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
    border-radius: 7%;
    padding: 4px 16px;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li:hover {
    opacity: 0.7;
}

#create {
    border-radius: 50%;
    border: none;
    background-color: rgb(51, 145, 233);
    color: rgb(235, 235, 235);
    height: 40px;
    width: 40px;
    margin-left: 95%;
    font-size: x-large;
}